<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Home', home_index_path, class: 'navbar-brand' %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <%= link_to 'Log out', sessions_logout_path, class: 'navbar-brand', style: 'color: blue' %>
      </div>
    </div>
  </div>
</nav>