// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap-datetimepicker-widget tr:hover {
  background-color: #eeeeee;
}

#weeklyDatePicker {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}

.data-table {
  max-width: 46%;
  margin-left: 2%;
  float: left;
}
